*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(128, 10, 175) !important;
}
form{
    background: #fff;
    width: 450px;
    padding: 30px;
    border-radius: 5px;
}

form header{
    color: rgb(167, 25, 196);
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}
form .url-input{
    margin: 30px 0;
}
.url-input .title{
    font-size: 18px;
    color: rgba(90, 0, 143, 0.911);
}

.url-input .field{
    height: 50px;
    width: 100%;
    margin-top: 5px;
    position: relative;
}
.url-input .field input{
    height: 100%;
    width: 100%;
    border: none;
    background: rgb(246, 242, 248);
    padding: 0 15px;
    border-bottom: 2px solid rgb(145, 135, 135);
    
}

.url-input .field .bottom-line{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background:  rgb(167, 25, 196);
    transform: scale(0);
    transition: transform 0.3s ease;;
    
   
}

.url-input .field input:focus~.bottom-line,
.url-input .field input:valid ~.bottom-line{
    transform: scale(1);
}
form .preview-area{
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    border: 2px dashed rgb(167, 25, 196); ;

}
.preview-area .thumbnail{
    width: 65%;
    height: 65%;
    border-radius: 5px;
    display: none;
}

form .preview-area .icon{
    font-size: 50px;
    color: rgb(167, 25, 196);

}

form .preview-area span{
    color: rgb(167, 25, 196);
    margin-top: 20px;
    /* display: none; */
}

form .download-btn{
    height: 53px;
    width: 100%;
    outline: none;
    border: none;
    margin: 30px 0 20px 0;
    border-radius: 5px;
    background: rgb(167, 25, 196);
    color: white;
    cursor: pointer;
}